#cmsinfo_block {
  h2 {
    text-align: center;
    font-size: 33px;
    color: #414042;
    margin-bottom: 30px;
  }

  .bg-block {
    min-height: 400px;
    background-size: cover;

    .post-content {
      max-width: 64%;
      padding-top: 250px;
      padding-left: 70px;
      padding-bottom: 30px;

      h5 {
        font-size: 18px;
        font-weight: 600;
        color: #5f524e;
      }
    }
  }

  .right-about-block {
    color: #414042;
    margin-top: 100px;

    a {
      color: #77a03f;
    }
  }

}

body {
  #olark-wrapper {
    .olark-launch-button {
      background-color: #77a03f !important;
    }
  }
}