@import 'compass';
@import "../../../../_theme_variables";

$icon: '\f107';
$icon-active: '\f106';
$menu-main-font: 700 15px/22px $font-family;

.top_menu {
  padding: 0;
  clear: both;
  float: none;
  text-align: left;
}

.stickUpTop {
  width: 100%;
  left: 0;
  top: 0;
  &:not(.isStuck) {
    position: static !important;
    .stickUpHolder {
      padding: 0;
    }
  }
  &.isStuck {
    background: $light-background;
    @include box-shadow(0px 15px 62px 0px rgba(0, 0, 0, 0.07));
    animation: 0.3s ease-in-out 0s normal none 1 fadeInDown;
    -webkit-animation: 0.3s ease-in-out 0s normal none 1 fadeInDown;
    @include transition(0.2s all ease);
    .stick-up {
      padding: 10px 0;
    }
    #header_logo img {
      max-height: 40px;
      width: auto;
    }

    .top_menu {
      > ul > li + li {
        @media (max-width: $screen-lg + 200) {
          margin-left: 10px;
        }
      }

      .is-megamenu {
        top: 100%;
        margin-top: 5px;
      }
    }
  }
}

.inline-menu {
  .stickUpTop {
    &.isStuck {
      @media (min-width: $screen-lg-min) {
        .top_menu, .top_menu .stickUpHolder {
          > ul {
            padding: 0;
          }
        }
      }
    }
  }
}

.stickUpHolder {
  max-width: 100%;
}

@media only screen and (max-width: $screen-md-max) {
  .isStuck .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.top_menu, .top_menu .stickUpHolder {
  display: inline-block;
  line-height: 0;
  @media (min-width: $screen-lg-min) {
    position: relative;
  }
  > ul {
    padding: 17px 0;
    margin: 0;
    > li {
      width: 100%;
      position: relative;
      z-index: 1;
      > a {
        border-right: none;
      }
      > a {
        display: inline-block;
        position: relative;
        padding: 0;
        font: $menu-main-font;
        line-height: 22px;
        color: $dark-text-color;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        &.sf-with-ul {
          &:after {
            @include addIcon('\f107');
            font-size: 14px;
            line-height: 1;
            @include transition(0.3s all ease);
            margin-left: 10px;
          }
        }
      }
      &.sfHover > a, &.sfHoverForce > a, > a:hover {
        color: $primary-text-color;
      }
      &:hover > a, &.sfHover > a, > a:hover {
        &.sf-with-ul {
          &:after {
            @include rotate(-180deg);
          }
        }
      }
      &:hover {
        > span.menu-mobile-grover:before {
          color: $primary-text-color;
        }
      }

      ul.is-simplemenu, ul.is-simplemenu ul {
        > li {
          > a.sf-with-ul {
            &:before {
              position: absolute;
              top: 50%;
              right: -10px;
              width: 20px;
              height: 20px;
              margin-top: -10px;
              line-height: 20px;
              text-align: center;
              @include addIcon('\f105');
              color: $color-gray;
              @include transition(0.3s all ease);
            }
          }
          &.sfHover, &.sfHoverForce {
            > a.sf-with-ul {
              &:before {
                right: 3px;
                color: $color-base;
              }
            }
          }
        }
        li + li {
          margin-top: 0;
        }
      }
      > ul.is-simplemenu {
        right: auto;
        left: -20px;
        top: 100%;
        margin-left: 0;
        padding: 15px;
        margin-top: 20px;
        @media (min-width: $screen-lg-min) {
          margin-left: -15px;
          margin-right: -15px;
        }

        > li {
          > a {
            color: $color-base;
            font-weight: normal;
            &:hover {
              color: $color-dark;
            }
          }
        }
      }

      & + li {
        margin-top: 28px;
      }
      .menu-mobile {
        padding-top: 16px;
        padding-bottom: 16px;
        .menu-mobile-grover {
          &:before {
            font-size: 14px;
          }
        }
      }
    }
  }

  ul.menu {
    text-align: left;
    display: none;
    position: absolute;
    top: 100%;
    left: -15px;
    width: 400px;
    background: $light-background;
    margin-top: 20px;
    padding: 44px 49px;
    @include box-shadow(0px 15px 62px 0px rgba(0, 0, 0, 0.07));
    max-height: calc(100vh - 70px);
    overflow-y: auto;
    @media (max-width: $screen-md-max) {
      max-width: 100%;
      left: 50%;
      @include translate(-50%, 0);
    }
    > li:last-child {
      margin-bottom: 40px;
    }
  }

  li {
    &.simple, li {
      position: relative;
      z-index: 1;
    }
    li {
      a {
        font-size: 16px;
        line-height: 1.3;
        color: $dark-text-color;
        display: inline-block;
        &:hover {
          color: $primary-text-color;
        }
      }
      &.sfHover > a, &.sfHoverForce > a {
        color: $primary-text-color;
      }
      & + li {
        margin-top: 15px;
      }
    }
  }

  .menu_badge {
    position: absolute;
    top: -2px;
    left: 5px;
    z-index: 2;
    font-size: 10px;
    display: inline-block;
    background: #f00;
    color: #fff;
    padding: 1px 5px 2px 5px;
    line-height: 12px;
    border-radius: 3px;
    margin-left: 10px;
  }

  .is-megamenu {
    width: 100%;
    display: none;
    .megamenu-row {
      padding-bottom: 10px;
      padding-top: 10px;
      + .megamenu-row {
        border-top: 1px solid #ccc;
        ul.content {
          > li {
            a {
              text-transform: uppercase;
            }
            ul li a {
              text-transform: none;
            }
          }
        }
      }
      @media (max-width: $screen-md-max) {
        .megamenu-col {
          width: 100%;
          & + .megamenu-col {
            margin-top: 10px;
          }
        }
      }
    }

    ul.content {
      overflow: hidden;
      > li {
        > a {
          position: relative;
          font-size: 15px;
          line-height: 1.3;
          font-weight: 400;
          color: $primary-text-color;
          &:hover {
            color: $dark-text-color;
          }
          &.sf-with-ul {
            font-size: 16px;
            color: $dark-text-color;
            margin-bottom: 15px;
            &:hover {
              color: $primary-text-color;
            }
          }
        }
        @media (max-width: $screen-md-max) {
          & + li {
            margin-top: 10px;
          }
        }
      }
      .menu-heading {
        h3 {
          margin: 0 0 15px;
          font-size: 16px;
          line-height: 1.3;
          font-weight: 400;
          color: $dark-text-color;
          @media (min-width: $screen-lg-min) {
            margin-bottom: 24px;
          }
        }
      }

      @media (min-width: $screen-lg-min) {
        > li.category + .category {
          margin-top: 30px;
        }
      }
      .megamenu_banner {
        padding-left: 5px;
        padding-right: 35px;
        a {
          display: inline-block;
          position: relative;
          margin: 0;
          text-transform: none;
          letter-spacing: 0;
          color: inherit;
          font: inherit;
          max-width: 100%;
          img {
            @include transition(.3s);
          }
          &:hover {
            opacity: .8;
          }
        }
        .description {
          position: absolute;
          top: 50%;
          right: 0;
          @include translate(0, -50%);
          width: 50%;
          h2 {
            font-family: $font-custom;
            font-weight: 300;
            font-size: 20px;
            line-height: (44 / 34);
            color: $base-heading-color;
            margin: 0;
            & + p {
              margin-top: 10px;
            }
          }
          p {
            font-size: 13px;
            line-height: (30 / 18);
          }
          .btn {
            margin-top: 7px;
          }
        }

        display: none;
      }
      ul {
        display: none;
      }
    }
  }
  .menu-title {
    display: inline-block;
    position: relative;
    cursor: pointer;
    line-height: (21 / 16);
    margin-right: 48px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    @include transition(0.3s all ease);
    &:before {
      @include addIcon('\f0c9');
      font-size: 16px;
      color: $color-dark;
      @include transition(0.3s all ease);
      margin-right: 18px;
    }
    @media (max-width: $screen-md-max) {
      font-size: 0;
      margin-right: 0;
      &:before {
        margin: 0;
        padding-top: 2px;
      }
    }
    &:hover, &.active {
      color: $dark-text-color;
      &:before {
        color: $primary-text-color;
      }
    }
  }

  .menu-mobile-grover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 25px;
    &:before {
      position: absolute;
      content: $icon;
      font-family: 'FontAwesome';
      font-size: 16px;
      top: 10px;
      right: 6px;
      @include translate(0, -50%);
      cursor: pointer;
      z-index: 1;
      @include transition(0.3s all ease);
    }
    &:hover {
      color: $primary-text-color;
    }
    & + a {
      position: relative;
    }
  }
  .menu-mobile-grover.active:before {
    content: $icon-active;
  }
  .is-simplemenu {
    li {
      .menu-mobile-grover {
        &:before {
          top: 13px;
          font-size: 18px;
        }
      }
      a {
        padding: 3px 0;
      }
      li {
        a {
          padding-left: 5px;
        }
        li {
          a {
            padding-left: 10px;
          }
          li {
            a {
              padding-left: 15px;
            }
          }
        }
      }
    }
  }
  li.simple ul {
    display: none;
  }
  @media (max-width: $screen-md-max) {
    .megamenu-col.col-sm-3 {
      float: left;
      width: 50%;
      &.first-in-line-sm {
        clear: left;
      }
    }
  }

  @media (max-width: $screen-xs - 1) { // max 479px
    .megamenu-col.col-sm-3 {
      width: 100%;
    }
  }
}

.red {
  background: #f00;
}

.menuvideowrapper {
  clear: both;
  float: none;
  height: 0;
  padding-bottom: 56.25%;
  padding-top: 25px;
  position: relative;
  width: 100%; }

.menuvideowrapper iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.frontend-map {
  min-height: 200px; }

/**** Left/Right column menu ****/
.left_column_menu .block_content, .right_column_menu .block_content {
  li {
    position: relative;
  }
  li.simple ul {
    display: none;
    @media only screen and (min-width: $screen-lg) { // min 768px
      position: absolute;
      top: -1px;
      width: 200px;
      border: 1px solid #ccc;
      background: #fff;
      z-index: 999;
    }
    @media only screen and (max-width: $screen-md-max) { // max 767px
      li {
        border-top: 1px solid #ccc;
        position: relative;
        a {
          display: block;
          padding: 10px 0 10px 15px;
          position: relative;
        }
        li {
          a {
            padding-left: 25px;
          }
        }
      }
    }
  }
  > ul > li {
    border-top: 1px solid #ccc;
    position: relative;
    > a {
      display: block;
      padding: 10px 0;
      position: relative;
    }
    &:first-child {
      border: none;
    }
  }
  span.menu_badge {
    font-size: 10px;
    display: inline-block;
    background: #f00;
    color: #fff;
    padding: 1px 5px 2px 5px;
    line-height: 12px;
    border-radius: 3px;
    margin-left: 10px;
  }
  li.simple li a {
    padding: 4px 5px;
    display: block;
  }
  div.is-megamenu {
    display: none;
    ul {
      display: block !important;
      opacity: 1 !important;
      &.content {
        > li {
          > a {
            font-weight: bold;
            text-transform: uppercase;
          }
          li {
            padding-left: 5px;
          }
        }
      }
    }
    @media only screen and (min-width: $screen-lg) { // min 768px
      position: absolute;
      top: 0;
      width: 600px;
      padding: 15px;
      background: $color-base;
      border: 1px solid #ccc;
      z-index: 999;
    }
    @media (min-width: $screen-xs) and (max-width: $screen-md-max) { // min 480px max 767px
      .megamenu-col.col-sm-3 {
        width: 50%;
        float: left;
        &.first-in-line-sm {
          clear: left;
        }
      }
    }
  }
  .menu-mobile-grover {
    &:after {
      position: absolute;
      right: 0;
      top: 12px;
      height: 15px;
      width: 15px;
      line-height: 15px;
      font-size: 15px;
      content: $icon;
      font-family: 'FontAwesome';
      z-index: 1;
      cursor: pointer;
    }
    &.active {
      &:after {
        content: $icon-active;
      }
    }
  }
}

div:not(.inline-menu) {
  > .module {
    .top_menu, .top_menu .stickUpHolder {
      .is-megamenu {
        .megamenu-row {
          .megamenu-col {
            width: 100%;
            & + .megamenu-col {
              margin-top: 15px;
            }
            &.products {
              display: none;
            }
            &:first-child {
              > ul.content {
                > .menu-heading {
                  margin-top: 0;
                }
              }
            }
          }
        }
        ul.content {
          > li {
            margin-left: 10px;
            & + li {
              margin-top: 12px;
            }
          }
          .menu-heading {
            margin-left: 0;
            margin-top: 15px;
            h3 {
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }
}

.inline-menu {
  @media (min-width: $screen-lg-min) {
    text-align: center !important;
  }

  .top_menu, .top_menu .stickUpHolder {
    @media (min-width: $screen-lg-min) {
      display: inline-block;
      position: static;
    }
    > ul {
      @media (min-width: 1360px) {
        padding: 34px 0;
      }
      @media (min-width: $screen-lg-min) {
        text-align: center;
      }

      > li {
        @media (min-width: $screen-lg-min) {
          position: static;
          width: auto;
          float: left;
          margin-top: 0;
          padding-top: 14px;
          padding-bottom: 12px;
          &:last-child {
            margin-bottom: 0;
          }
          > a {
            display: block;
            color: $color-base;
            letter-spacing: 2.1px;
            &:after {
              display: none;
            }

            @media (min-width: 1360px) and (max-width: 1449px) {
              font-size: 14px;
            }

            @media (min-width: $screen-lg-min) and (max-width: 1359px) {
              font-size: 13px;
            }
          }
          &.sfHover > a, &.sfHoverForce > a, > a:hover {
            color: $dark-text-color;
            &:before {
              opacity: 1;
            }
          }
          &.simple {
            position: relative;
          }
        }

        ul.is-simplemenu, ul.is-simplemenu ul {
          @media only screen and (min-width: $screen-lg) { // min 768px
            display: none;
            width: 275px;
            top: -34px;
            left: 100%;
            margin-left: 45px;
            position: absolute;
            z-index: 99;
            background: $color-box;
            @include box-shadow(0px 7px 29px 0px rgba(0, 0, 0, 0.06));
            padding: 34px 42px 34px 42px;
            li li a {
              padding-left: 0;
            }
          }
          li + li {
            @media (min-width: $screen-lg-min) {
              margin-top: 8px;
            }
          }

          > li {
            > a.sf-with-ul {
              font-size: 14px;
              font-weight: normal;
              color: $color-base;
            }
          }

        }

        > ul.is-simplemenu {
          @media (min-width: $screen-lg-min) {
            top: 100%;
            left: -45px;
            margin-top: 10px;
            background: $color-box;
          }
          @media (min-width: 1360px) {
            margin-top: 14px;
          }
        }

        & + li {
          @media (min-width: $screen-lg-min) {
            margin-left: 15px;
          }
          @media (min-width: 1360px) {
            margin-left: 34px;
          }
          @media (min-width: 1800px) {
            margin-left: 45px;
          }
        }
      }
    }

    ul.menu {
      @media (min-width: $screen-lg-min) {
        display: block;
        position: static;
        top: auto;
        left: auto;
        width: auto;
        box-shadow: none;
        background: none;
        margin: 0;
        padding: 0;
        max-height: none;
        overflow: visible;
        text-align: left;
      }
    }

    li {
      li {
        a {
          @media (min-width: $screen-lg-min) and (max-width: 1359px) {
            font-size: 13px;
          }
        }
      }
    }

    .menu_badge {
      top: -2px;
      right: -5px;
      left: auto;
    }

    .is-megamenu {
      text-align: left;
      @media only screen and (min-width: $screen-lg) { // min 768px
        position: absolute;
        top: 100%;
        left: 15px;
        right: 15px;
        width: auto;
        padding: 30px 45px;
        margin-top: 10px;
        max-height: calc(100vh - 55px);
        overflow: auto;
        background: $color-box;
        @include box-shadow(0px 7px 29px 0px rgba(0, 0, 0, 0.06));
        @media (min-width: 1360px) {
          margin-top: 20px;
        }
      }
      .megamenu-row {
        @media (min-width: $screen-lg-min) {
          padding-left: 23px;
        }
        .megamenu-col {
          @media (min-width: $screen-lg-min) {
            padding-top: 25px;
            padding-bottom: 25px;
          }
          @media (min-width: 1360px) {
            padding-top: 45px;
            padding-bottom: 45px;
          }

        }
      }

      ul.content {
        @media (min-width: $screen-lg-min) {
          > li {
            > a {
              margin-top: 46px;
              text-transform: uppercase;
              color: $color-base;
              font-weight: bold;
              &:hover {
                color: $color-dark;
              }
              &.sf-with-ul {
                margin-top: 0;
                text-transform: uppercase;
                color: $color-base;
                font-weight: bold;
                letter-spacing: 2.1px;
                &:hover {
                  color: $color-dark;
                }
              }
            }

            ul li a {
              text-transform: none;
              color: $color-base;
              &:hover {
                color: $color-dark;
              }
            }
          }

        }
        .megamenu_banner {
          @media (min-width: $screen-lg-min) {
            display: block;
          }
          .description {
            p {
              @media (min-width: $screen-lg-min) {
                padding-right: 12%;
              }
            }
            @media (min-width: 1360px) {
              h2 {
                font-size: 26px;
                & + p {
                  margin-top: 21px;
                }
              }
              p {
                font-size: 15px;
              }
              .btn {
                min-width: 170px;
                margin-top: 15px;
              }
            }
            @media (min-width: 1650px) {
              h2 {
                font-size: 34px;
              }
              p {
                font-size: 18px;
              }
              .btn {
                min-width: 195px;
                margin-top: 32px;
              }
            }
          }
        }
        ul {
          @media (min-width: $screen-lg-min) {
            opacity: 1 !important;
            display: block !important;
          }

        }
      }
      .products {
        background: #fafafa;
        ul.content {
          padding-left: 24px;
          padding-right: 24px;
          li + li {
            margin-top: 5px;
          }
        }
        .menu-heading h3 {
          margin-bottom: 5px;
        }
      }
      .product {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        .product-image {
          max-width: 95px;
          margin-right: 35px;
          a {
            max-width: 100%;
          }
        }
        .product-info {
          .product-name {
            margin-top: 0;
            margin-bottom: 5px;
            a {
              color: $dark-text-color;
              &:hover {
                color: $primary-text-color;
              }
            }
          }
          .new-price {
            margin-right: 5px;
          }
        }
      }
      li a {
        font-size: 15px;
        color: $primary-text-color;
        &:hover {
          color: $dark-text-color;
        }
      }
    }
    .menu-title {
      @media only screen and (min-width: $screen-lg) { // min 768px
        display: none;
      }
    }

    .menu-mobile-grover {
      &:before {
        @media only screen and (min-width: $screen-lg) { // min 768px
          display: none;
        }
      }
    }
  }
}

.left_column_menu li.simple ul {
  right: -200px;
}

.right_column_menu li.simple ul {
  left: -200px;
}

.left_column_menu div.is-megamenu {
  right: -600px;
}

.right_column_menu div.is-megamenu {
  left: -600px;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}