@import "../../../_theme_variables";

/* Top hook CSS */
#htmlcontent_top {
  margin-top: 30px;
  @media (min-width: $screen-sm-min) {
    margin-top: 50px;
  }
  @media (min-width: $screen-lg-min) {
    margin-top: 75px;
  }
  > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    > li {
      position: relative;
      text-align: center;

      &:first-child,
      &:nth-child(2) {
        @media (max-width: 639px) {
          width: 100%;
        }
        @media (min-width: 640px) {
          width: 50%;
        }
      }
      &:first-child {
        @media (min-width: $screen-lg-min) {
          width: 38.97202342225114%;
        }
      }

      &:nth-child(2) {
        @media (min-width: $screen-lg-min) {
          width: 33.70201691607027%;
        }
      }
      &:last-child {
        @media (min-width: $screen-lg-min) {
          width: 27.32595966167859%;
        }
        @media (max-width: $screen-md-max) {
          display: none;
        }
      }
      @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        &:first-child {
          order: 1;
        }
        &:nth-child(2) {
          order: 2;
        }
        &:last-child {
          order: 3;
        }
      }
      .item-html {
        padding: 35px 0;
        z-index: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: space-around;
        height: 100%;
        min-height: 100%;
        @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
          padding: 35px 5%;
        }
        @media (min-width: $screen-sm-min) {
          padding: 20px 6%;
        }
        h2, h3 {
          width: 100%;
        }
        h2 {
          font-family: $font-custom;
          font-size: 34px;
          font-weight: 300;
          letter-spacing: -1px;
          color: $color-heading;
          margin: 0 0 5px;
          @media (min-width: 1360px) {
            font-size: 38px;
            margin-bottom: 15px;
          }
          @media (min-width: 1650px) {
            font-size: 50px;
            margin-bottom: 28px;
          }
        }
        h3 {
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 0.38em;
          color: #c4bbb2;
          text-transform: uppercase;
          line-height: 1.2;
          margin: 0;
          @media (min-width: 1360px) {
            font-size: 14px;
          }
          @media (min-width: 1650px) {
            font-size: 16px;
          }
        }
        * + h2 {
          margin-top: 12px;
        }
        a {
          z-index: 2;
        }
        .btn {
          margin-top: 15px;
          @media (max-width: 1359px) {
            font-size: 12px;
            padding: 13px;
            min-width: 140px;
          }
          @media (min-width: 1650px) {
            min-width: 240px;
          }
        }
        .item-link {
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
        }
      }
      img + .item-html {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }
      img {
        min-width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
  }
}

/* Home hook CSS */
#htmlcontent_home {
  margin-top: 10px;
  @media (min-width: $screen-sm-min) {
    margin-top: 46px;
  }

  > ul > li {
    position: relative;
    .img-wrapper {
      display: inline-block;
      padding: 20px;
      margin-top: -8%;
      background: $light-background;
      img {
        width: 100%;
        height: auto;
      }
    }
    .img-wrapper + .item-html {
      position: absolute;
      right: 5%;
      top: 50%;
      @include translate(0, -50%);
      text-align: left;
      @media (min-width: $screen-lg-min) {
        right: 12.3%;
      }
    }


    .item-html {
      width: 45%;
      @media (min-width: $screen-lg-min) {
        width: 40%;
      }
      h2 {
        position: relative;
        font-family: $font-custom;
        font-size: 18px;
        line-height: (6 / 5);
        font-weight: 300;
        letter-spacing: 0.06em;
        color: $color-heading;
        margin: 0;
        @media (min-width: $screen-sm-min) {
          font-size: 28px;
        }
        @media (min-width: 1360px) {
          font-size: 35px;
        }
        @media (min-width: 1650px) {
          font-size: 50px;
        }
      }
      p {
        font-size: 16px;
        line-height: (5 / 3);
        @media (min-width: 1650px) {
          font-size: 18px;
        }
        @media (max-width: $screen-md-max) {
          display: none;
        }
      }
      .btn {
        padding-left: 25px;
        padding-right: 25px;
        min-width: 195px;
        @media (max-width: $screen-sm-max) {
          padding-top: 12px;
          padding-bottom: 12px;
          min-width: 0;
        }
        @media (max-width: $screen-xs-max) {
          padding-top: 6px;
          padding-bottom: 6px;
        }
      }
      * + p {
        margin-top: 10px;
        @media (min-width: 1360px) {
          margin-top: 21px;
        }
      }
      * + .btn {
        margin-top: 15px;
        @media (min-width: 1360px) {
          margin-top: 30px;
        }
      }
    }
    &:first-child {
      .img-wrapper {
        margin-top: 0;
      }
    }
    &:nth-child(even) {
      text-align: right;
      .item-html {
        right: auto;
        left: 5%;
        @media (min-width: $screen-lg-min) {
          padding-top: 1.5%;
          left: 8.3%;
          padding-left: 10%;
        }
        h2 {
          &:before {
            right: auto;
            left: 104%;
          }
        }
        .btn {
          background: transparent;
          content: $color-base;
          box-shadow: none;
        }
      }

    }
    &:nth-child(odd) {
      .item-html {
        .btn {
          background: $color-light;
          color: $color-base;
          &:hover {
            color: $color-light;
          }
        }
        padding-bottom: 6%;
      }
    }

    @media (max-width: $screen-xs-min - 1) {
      float: none;
      max-width: 370px;
      margin: 30px auto;

      .img-wrapper {
        width: 100%!important;
        padding: 0;
        z-index: 1;
        position: relative;

        +  .item-html {
          text-align: center;
          width: 100%;
          position: absolute;
          padding: 20px;
          top: 50%;
          left: 50%;
          @include transform(translate(-50%, -50%));
          z-index: 2;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 20px;
            left: 20px;
            bottom: 0;
            background: rgba($color-box, .4);
          }

          .btn {
            background: $color-light;
            color: $color-base;
            &:hover {
              color: $color-light;
            }
          }
        }
      }

      &:nth-child(even) {
        .img-wrapper {
          padding: 15px 12px;
        }
      }
    }
  }
}

/* Left hook CSS */
#htmlcontent_left {
}

/* Right hook CSS */
#htmlcontent_right {
}

/* Footer hook CSS */
#htmlcontent_footer {
}
